# ==========================
# Python / Backend
# ==========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# 환경 변수 & 로그
.env
logs/
logs.txt

# 데이터 (캐시, 런타임)
data/
*.sqlite3
*.db

frontend/

# ==========================
# 공통 불필요 파일
# ==========================
.DS_Store
Thumbs.db
*.log
*.lock
